// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
    width: 150px;
    background-color: #4286f4;
    color: white;
    padding: 5px;
    text-align: center;
}

